
@media (min-width: 768px) {
	.navbar-nav {
		float: right !important;
		margin-top: 20px !important;
	}
}

@media (max-width: 768px) {
	#footerSection .footer .links {
		text-align: center;
	}
}

#footerSection .footer .footerText {
	text-align: right;
}

button {
	margin-left: 10px !important;
}

.modal .modal-body {
	max-height: 500px;
	overflow-y: scroll;
}
